gitlab_rails['omniauth_providers'] = [
  {
    name: "saml",
    label: "SAML (Google)", # optional label for login button, defaults to "Saml"
    groups_attribute: 'gitlab_groups',
    admin_groups: ['gitlab_admin'],
    auditor_groups: ['gitlab_auditor'],
    external_groups: ['gitlab_freelancer'],
    required_groups: ['gitlab_user', 'gitlab_developer', 'gitlab_admin', 'gitlab_auditor', 'gitlab_freelancer'],
    args: {
      assertion_consumer_service_url: "{{ external_url }}/users/auth/saml/callback",
      idp_cert_fingerprint: "FA:39:84:AC:A8:0B:B7:11:55:57:9C:00:1B:D5:73:73:63:7C:EE:03",
      idp_sso_target_url: "https://accounts.google.com/o/saml2/idp?idpid=C02sd2nit",
      issuer: "{{ external_url }}/",
      name_identifier_format: "urn:oasis:names:tc:SAML:2.0:nameid-format:persistent"
    }
  }
]

gitlab_rails['omniauth_allow_single_sign_on'] = ['saml']
gitlab_rails['omniauth_block_auto_created_users'] = false